.container{
    max-width: 60rem;
    margin: 1rem auto;
}

.header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
